[user]
	email = Florian.Franzen@gmail.com
	name = Florian Franzen
	signingkey = 549A27CC
[gpg]
	program = gpg2
[alias]
	s  = status -s
	d  = diff
	dt = difftool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[diff]
	submodule = log
	tool = vimdiff
[status]
	submoduleSummary = true
[core]
	pager = less -FRXx1,3
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = preserve
[fetch]
	recurseSubmodules = on-demand
